
<div class="row">
    <img src="https://toplearn.com/img/votew.jpg"/>
    <p></p>
    <p>
        <a class="btn btn-success">
            <img class="btnLike" src="https://toplearn.com/img/like.png"/>
            میپسندم (12)
        </a>
        <a class="btn btn-danger">
            <img class="btnLike" src="https://toplearn.com/img/dislike.png"/>
            نمی پسندم (5)
        </a>
    </p>
</div>